---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
	<!-- Top Banner Section -->
	<div class="container-fluid mb-4 p-0">
		<div class="p-4 bg-body-secondary">
			<div class="text-center col-sm-12 col-md-4 offset-md-4">
				<img class="img-fluid" src="/empowered-logo-lg.png" alt="St. Ed's Logo">
			</div>
		</div>
	</div>
	<!-- End Top Banner Section -->

	<!-- About Section -->
	<div class="container mb-4">
		<div class="row">
			<h2 class="font-homestead text-center">About</h2>
			<p class="fs-5">
				Please join us for the EmpowerED: Maker Challenge, a collaborative initiative presented by St. Edward
				High School and Youth Challenge. Over three impactful days, professionals and students will unite in a
				shared mission to address real-world challenges faced by individuals with physical limitations. Join
				us in making a difference in the lives of these remarkable individuals as we work together to elevate
				their overall quality of life. This is not your typical maker fair; it's an invitation to contribute
				your skills and creativity towards crafting solutions that redefine possibilities and empower those
				striving for independence.
			</p>
		</div>
		<!-- When -->
		<div class="row">
			<div class="col">
				<h4 class="font-homestead">When</h4>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Event</th>
							<th>Date</th>
							<th>Time</th>
							<th>Location</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Kickoff</td>
							<td>Tuesday March 11, 2025</td>
							<td>5:00PM</td>
							<td>St. Edward High School - Kahl Center</td>
						</tr>
						<tr>
							<td>Maker Challenge - Day 1</td>
							<td>Friday March 14th, 2025</td>
							<td>5:00PM - 10:00PM</td>
							<td>St. Edward High School</td>
						</tr>
						<tr>
							<td>Maker Challenge - Day 2</td>
							<td>Saturday March 15th, 2025</td>
							<td>9:00AM - 10:00PM</td>
							<td>St. Edward High School</td>
						</tr>
						<tr>
							<td>Closing Ceremony</td>
							<td>Sunday March 16, 2025</td>
							<td>3:00 PM</td>
							<td>Youth Challenge - Westlake</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- Who We're Looking For -->
		<div class="row">
			<div class="col">
				<h4 class="font-homestead mb-3">Who We're Looking For</h4>
				<p class="fs-5">
					We are in search of dynamic team members who embody a solution-oriented mindset. Whether you're an
					engineer, designer,  technologist, medical professional, entrepreneur, or something else altogether,
					your expertise is invaluable to this challenge. We welcome team members from any professional field and
					highly encourage those with practical product-solution experience in mechanical applications to step forward.
				</p>
			</div>
		</div>
		<!-- Team Dynamics -->
		<div class="row">
			<div class="col">
				<h4 class="font-homestead mb-3">Team Dynamics</h4>
				<ul class="fs-5">
					<li>Each team will consist of six to eight dedicated makers who are assigned to a client who needs their solutions.</li>
					<li>Each team will work in collaboration with St. Edward High School engineering or technology students, fostering a dynamic blend of experience and fresh perspectives.</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h5 class="font-homestead mb-3">Roles and Expectations</h5>
				<div class="accordion mb-3" id="accordionExample">
					<div class="accordion-item">
					  <h2 class="accordion-header">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
						  Maker
						</button>
					  </h2>
					  <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							<p>Participate on a Challenge Team and help to execute its solution strategy</p>
							<ul>
								<li><strong>Pre-event communication</strong>: You will be invited to the Microsoft Teams chat to start discussing the challenges and to connect with other participants.</li>
								<li><strong>Kick-off event</strong>: Work with your team to define a solution to the challenge and devise a plan to create a working prototype during the makeathon.</li>
								<li><strong>Pre-makeathon</strong>: Work with your team to refine your plan and identify the materials and equipment that your team will need to build the solution.</li>
								<li><strong>Makeathon</strong>: work with your team to build the solution prototype and have some fun!</li>
								<li><strong>Closing Event</strong>: display and explain your team’s solution to industry leaders, public figures, and community members.</li>
							</ul>
						</div>
					  </div>
					</div>
					<div class="accordion-item">
					  <h2 class="accordion-header">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						  Mentor
						</button>
					  </h2>
					  <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							<p>Help to guide Challenge Teams and their solution strategies and execution</p>
							<ul>
								<li><strong>Kick-off event</strong>: Help teams to first understand the challenge and second devise a solution strategy to address that challenge. Help to keep them on task.</li>
								<li><strong>Pre-makeathon</strong>: : Be available to answer questions that teams have regarding their challenge and solution strategy.</li>
								<li><strong>Makeathon</strong>:  Help teams to stay on task and troubleshoot any issues with their solution prototype.</li>
								<li><strong>Closing Event</strong>: Attend the closing event to see all of the solutions displayed and share the experience with community members.</li>
							</ul>
						</div>
					  </div>
					</div>
				  </div>
			</div>
		</div>
		<!-- Why Participate -->
		<div class="row">
			<div class="col">
				<h4 class="font-homestead mv-3">Why Participate</h4>
				<ul class="fs-5">
					<li>Meaningful Impact: Your contributions will directly impact the lives of individuals striving for independence.</li>
					<li>Real-world Solutions: Tackle challenges with a practical approach, providing tangible solutions that enhance daily living.</li>
					<li>Collaborative Learning: Engage with a diverse group of professionals and students, fostering an environment of innovation and shared knowledge.</li>
				</ul>
			</div>
		</div>
		<!-- Get Involved -->
		<div class="row">
			<div class="col">
				<h4 class="font-homestead mv-3">How to Get Involved</h4>
				<p class="fs-5">
					If you're passionate about making a positive change through your skills and experience, join us for
					the EmpowerED: Maker Challenge. Together, let's create solutions that empower individuals to live
					independently. <a href="/#contact-us">Contact us</a>!
				</p>
			</div>
		</div>
		<hr>
	</div>
	<!-- End About Section -->

	<!-- Teams Section -->
	<div class="container mb-4">
		<h2 id="teams" class="font-homestead text-center mb-3">Teams</h2>
		<h3 class="text-center">Teams will be announced shortly!</h3>

		<div class="row">
			<!-- Team 1 -->
			<div class="col-sm-12 col-md-3 mb-3">
				<div class="card px-0">
					<a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#team1Modal">
						<img src="/coming-soon-thumbnail.png" alt="Participant Thumbnail" class="card-img-top">
						<div class="card-body">
							<h5 class="card-title font-homestead">Coming Soon</h5>
						</div>
					</a>
				</div>
			</div>
			<div class="modal fade" id="team1Modal" tabindex="-1" aria-hidden="true">
				<div class="modal-dialog">
				  <div class="modal-content">
					<div class="modal-header">
					  <h1 class="modal-title fs-5" id="exampleModalLabel">About Team 1</h1>
					  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<p>
							Description
						</p>
					</div>
				  </div>
				</div>
			</div>
			<!-- End Team 1 -->
			 <!-- Team 2 -->
			<div class="col-sm-12 col-md-3 mb-3">
				<div class="card px-0">
					<a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#team2Modal">
						<img src="/coming-soon-thumbnail.png" alt="Participant Thumbnail" class="card-img-top">
						<div class="card-body">
							<h5 class="card-title font-homestead">Coming Soon</h5>
						</div>
					</a>
				</div>
			</div>
			<div class="modal fade" id="team2Modal" tabindex="-1" aria-hidden="true">
				<div class="modal-dialog">
				  <div class="modal-content">
					<div class="modal-header">
					  <h1 class="modal-title fs-5" id="exampleModalLabel">About Team 2</h1>
					  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<p>
							Description
						</p>
					</div>
				  </div>
				</div>
			</div>
			<!-- End Team 2 -->
			 <!-- Team 3 -->
			<div class="col-sm-12 col-md-3 mb-3">
				<div class="card px-0">
					<a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#team3Modal">
						<img src="/coming-soon-thumbnail.png" alt="Participant Thumbnail" class="card-img-top">
						<div class="card-body">
							<h5 class="card-title font-homestead">Coming Soon</h5>
						</div>
					</a>
				</div>
			</div>
			<div class="modal fade" id="team3Modal" tabindex="-1" aria-hidden="true">
				<div class="modal-dialog">
				  <div class="modal-content">
					<div class="modal-header">
					  <h1 class="modal-title fs-5" id="exampleModalLabel">About Team 3</h1>
					  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<p>
							Description
						</p>
					</div>
				  </div>
				</div>
			</div>
			<!-- End Team 3 -->
			 <!-- Team 4 -->
			<div class="col-sm-12 col-md-3 mb-3">
				<div class="card px-0">
					<a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#team4Modal">
						<img src="/coming-soon-thumbnail.png" alt="Participant Thumbnail" class="card-img-top">
						<div class="card-body">
							<h5 class="card-title font-homestead">Coming Soon</h5>
						</div>
					</a>
				</div>
			</div>
			<div class="modal fade" id="team4Modal" tabindex="-1" aria-hidden="true">
				<div class="modal-dialog">
				  <div class="modal-content">
					<div class="modal-header">
					  <h1 class="modal-title fs-5" id="exampleModalLabel">About Team 4</h1>
					  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<p>
							Description
						</p>
					</div>
				  </div>
				</div>
			</div>
			<!-- End Team 4 -->
		</div>
		<hr>
	</div>
	<!-- End Teams Section -->

	<!-- Partners Section -->
	<div class="container mb-4 text-center">
		<div class="row">
			<div class="col-sm-12 col-md-6 col-lg-3 align-self-center">
				<a href="https://sehs.net" target="_blank">
					<img class="img-fluid" src="/partner-logos/crest-logo.png" alt="St. Ed's Crest">
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-3 align-self-center">
				<a href="https://www.youthchallengesports.com/" target="_blank">
					<img class="img-fluid" src="/partner-logos/yc-logo.png" alt="Youth Challenge Logo">
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-3 align-self-center">
				<a href="https://engineering.csuohio.edu/nrt/hms-graduate-program" target="_blank">
					<img class="img-fluid" src="/partner-logos/csu-logo.png" alt="Youth Challenge Logo">
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-3 align-self-center">
				<a href="https://www.balanceinc.com/" target="_blank">
					<img class="img-fluid" src="/partner-logos/balance-innovation-logo.png" alt="Balance Innovation Logo">
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-3 align-self-center">
				<a href="https://leimkuehlerinc.com/" target="_blank">
					<img class="img-fluid" src="/partner-logos/leimkuehler-logo.png" alt="Leimkuehler Logo">
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-3 align-self-center">
				<a href="https://choolaah.com/" target="_blank">
					<img class="img-fluid" src="/partner-logos/choolaah-logo.png" alt="Choolah Logo">
				</a>
			</div>
		</div>
		<hr>
	</div>
	<!-- End Partners Section -->

	<!-- Contact Section -->
	<div id="contact-us" class="container mb-4">
		<h2 id="teams" class="font-homestead text-center mb-3">Contact Us</h2>
		<p class="fs-5">Anthony Mortimer - Event Coordinator <a href="mailto:amortimer@sehs.net">amortimer@sehs.net</a></p>
		<p class="fs-5">Phil Singh - Mentor and Sponsorship Information <a href="mailto:psingh@sehs.net">psingh@sehs.net</a></p>
		<p class="fs-5">Vanessa Butler - Media Relations <a href="mailto:vbutler@sehs.net">vbutler@sehs.net</a></p>
	</div>
	<!-- End Contact Section -->
</Layout>
