---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
	<!-- Top Banner Section -->
	<div class="container-fluid mb-4 p-0">
		<div class="p-4 bg-body-secondary">
			<!-- <h1 class="display-4 font-homestead text-center">Empower<span class="text-secondary">Ed</span>: St. Edward High School Maker Challenge</h1> -->
			<div class="text-center col-lg-6 offset-lg-3">
				<img class="img-fluid" src="/empowered-banner.png" alt="St. Ed's Logo">
				<p class="fs-4 my-3 text-center">Registration now open for the 2024 Maker Challenge!</p>
				<a href="#teams" class="btn btn-primary btn-lg my-1">Meet the Teams</a>
				<a href="https://forms.gle/CFPward668WTzHUZ6" target="_blank" class="btn btn-primary btn-lg my-1">Register</a>
			</div>
		</div>
	</div>
	<!-- End Top Banner Section -->

	<!-- About Section -->
	<div class="container mb-4">
		<div class="row">
			<h2 class="font-homestead text-center">About</h2>
			<p class="fs-5">
				Please join us for the EmpowerED: Maker Challenge, a collaborative initiative presented by St. Edward
				High School and Youth Challenge. Over two impactful days, professionals and students will unite in a
				shared mission to address real-world challenges faced by adults with physical limitations. Join
				us in making a difference in the lives of these remarkable individuals as we work together to elevate
				their overall quality of life. This is not your typical maker fair; it's an invitation to contribute
				your skills and creativity towards crafting solutions that redefine possibilities and empower those
				striving for independence.
			</p>
		</div>
		<!-- When -->
		<div class="row">
			<div class="col">
				<h4 class="font-homestead">When</h4>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Event</th>
							<th>Date</th>
							<th>Time</th>
							<th>Location</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Kickoff</td>
							<td>Wednesday March 13, 2024</td>
							<td>5:00PM</td>
							<td>St. Edward High School</td>
						</tr>
						<tr>
							<td>Make-A-Thon - Day 1</td>
							<td>Friday April 19, 2024</td>
							<td>5:00PM - 10:00PM</td>
							<td>St. Edward High School</td>
						</tr>
						<tr>
							<td>Make-A-Thon - Day 2</td>
							<td>Saturday April 20, 2024</td>
							<td>9:00AM - 10:00PM</td>
							<td>St. Edward High School</td>
						</tr>
						<tr>
							<td>Closing Ceremony</td>
							<td>Sunday April 21, 2024</td>
							<td>5:00 PM</td>
							<td>Youth Challenge</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- Who We're Looking For -->
		<div class="row">
			<div class="col">
				<h4 class="font-homestead mb-3">Who We're Looking For</h4>
				<p class="fs-5">
					We are in search of dynamic team members who embody a solution-oriented mindset. Whether you're an
					engineer, designer,  technologist, medical professional, entrepreneur, or something else altogether,
					your expertise is invaluable to this challenge. We welcome team members from any professional field and
					highly encourage those with practical product-solution experience in mechanical applications to step forward.
				</p>
			</div>
		</div>
		<!-- Team Dynamics -->
		<div class="row">
			<div class="col">
				<h4 class="font-homestead mb-3">Team Dynamics</h4>
				<ul class="fs-5">
					<li>Each team will consist of six to eight dedicated makers who are assigned to a client who needs their solutions.</li>
					<li>Each team will work in collaboration with St. Edward High School engineering or technology students, fostering a dynamic blend of experience and fresh perspectives.</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h5 class="font-homestead mb-3">Roles and Expectations</h5>
				<div class="accordion mb-3" id="accordionExample">
					<div class="accordion-item">
					  <h2 class="accordion-header">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
						  Maker
						</button>
					  </h2>
					  <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							<p>Participate on a Challenge Team and help to execute its solution strategy</p>
							<ul>
								<li><strong>Pre-event communication (now through March 12)</strong>: You will be invited to the Microsoft Teams chat to start discussing the challenges and to connect with other participants.</li>
								<li><strong>Kick-off event (March 13)</strong>: Work with your team to define a solution to the challenge and devise a plan to create a working prototype during the makeathon.</li>
								<li><strong>Pre-makeathon (March 13 - April 18)</strong>: Work with your team to refine your plan and identify the materials and equipment that your team will need to build the solution.</li>
								<li><strong>Makeathon (April 19 - 20)</strong>: work with your team to build the solution prototype and have some fun!</li>
								<li><strong>Closing Event (April 21)</strong>: display and explain your team’s solution to industry leaders, public figures, and community members.</li>
							</ul>
						</div>
					  </div>
					</div>
					<div class="accordion-item">
					  <h2 class="accordion-header">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						  Mentor
						</button>
					  </h2>
					  <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							<p>Help to guide Challenge Teams and their solution strategies and execution</p>
							<ul>
								<li><strong>Kick-off event (March 13)</strong>: Help teams to first understand the challenge and second devise a solution strategy to address that challenge. Help to keep them on task.</li>
								<li><strong>Pre-makeathon (March 13 - April 18)</strong>: : Be available to answer questions that teams have regarding their challenge and solution strategy.</li>
								<li><strong>Makeathon (April 19 - 20)</strong>:  Help teams to stay on task and troubleshoot any issues with their solution prototype.</li>
								<li><strong>Closing Event (April 21)</strong>: Attend the closing event to see all of the solutions displayed and share the experience with community members.</li>
							</ul>
						</div>
					  </div>
					</div>
				  </div>
			</div>
		</div>
		<!-- Why Participate -->
		<div class="row">
			<div class="col">
				<h4 class="font-homestead mv-3">Why Participate</h4>
				<ul class="fs-5">
					<li>Meaningful Impact: Your contributions will directly impact the lives of individuals striving for independence.</li>
					<li>Real-world Solutions: Tackle challenges with a practical approach, providing tangible solutions that enhance daily living.</li>
					<li>Collaborative Learning: Engage with a diverse group of professionals and students, fostering an environment of innovation and shared knowledge.</li>
				</ul>
			</div>
		</div>
		<!-- Get Involved -->
		<div class="row">
			<div class="col">
				<h4 class="font-homestead mv-3">How to Get Involved</h4>
				<p class="fs-5">
					If you're passionate about making a positive change through your skills and experience, join us for
					the EmpowerED: Maker Challenge. Together, let's create solutions that empower individuals to live
					independently. <a href="https://forms.gle/CFPward668WTzHUZ6" target="_blank">Click here to register</a>.
				</p>
				<p class="fs-5">Interested in becoming a partner or sponsor? <a href="/#contact-us">Contact us</a>!</p>
			</div>
		</div>
		<hr>
	</div>
	<!-- End About Section -->

	<!-- Teams Section -->
	<div class="container mb-4">
		<h2 id="teams" class="font-homestead text-center mb-3">Teams</h2>

		<div class="row">
			<!-- Breanna -->
			<div class="col-sm-12 col-md-3 mb-3">
				<div class="card px-0">
					<a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#breannaModal">
						<img src="/participants/breanna-thumbnail.png" alt="Participant Thumbnail" class="card-img-top">
						<div class="card-body">
							<h5 class="card-title font-homestead">Team Breanna</h5>
						</div>
					</a>
				</div>
			</div>
			<div class="modal fade" id="breannaModal" tabindex="-1" aria-hidden="true">
				<div class="modal-dialog">
				  <div class="modal-content">
					<div class="modal-header">
					  <h1 class="modal-title fs-5" id="exampleModalLabel">About Breanna</h1>
					  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<p>
							It is frustrating to drop the things you need—especially when it’s a challenge to pick them up! Breanna needs a solution to help her securely carry personal items like her phone, snacks, and other objects. Breanna has use of her right arm and uses a wheelchair. How can we empower her to keep items close by and easy to access?
						</p>
						<video width="100%" src="/participants/breanna-video.mp4" controls preload="metadata"></video>
						<div class="d-grid gap-2 mt-3">
							<a class="btn btn-primary btn-lg" href="https://forms.gle/CFPward668WTzHUZ6" target="_blank">Register</a>
						</div>
					</div>
				  </div>
				</div>
			</div>
			<!-- End Breanna -->
			<!-- Sara -->
			<div class="col-sm-12 col-md-3 mb-3">
				<div class="card px-0">
					<a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#saraModal">
						<img src="/participants/sara-thumbnail.png" alt="Participant Thumbnail" class="card-img-top">
						<div class="card-body">
							<h5 class="card-title font-homestead">Team Sara</h5>
						</div>
					</a>
				</div>
			</div>
			<div class="modal fade" id="saraModal" tabindex="-1" aria-hidden="true">
				<div class="modal-dialog">
				  <div class="modal-content">
					<div class="modal-header">
					  <h1 class="modal-title fs-5" id="exampleModalLabel">About Sara</h1>
					  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<p>
							Sara is an innovator herself; she’s figured out how to use a female catheter, designed for bed use, as a mobile device. The catheter is mounted to the side of her wheelchair so she can easily access the control panel, however, this adds unnecessary bulkiness to the profile of her chair. How can we empower her to travel more easily by positioning the device and controls without adding additional width?
						</p>
						<video width="100%" src="/participants/sara-video.mp4" controls preload="metadata"></video>
						<div class="d-grid gap-2 mt-3">
							<a class="btn btn-primary btn-lg" href="https://forms.gle/CFPward668WTzHUZ6" target="_blank">Register</a>
						</div>
					</div>
				  </div>
				</div>
			</div>
			<!-- End Team Sara -->
			<!-- Hannah -->
			<div class="col-sm-12 col-md-3 mb-3">
				<div class="card px-0">
					<a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#hannahModal">
						<img src="/participants/hannah-thumbnail.jpg" alt="Participant Thumbnail" class="card-img-top">
						<div class="card-body">
							<h5 class="card-title font-homestead">Team Hannah</h5>
						</div>
					</a>
				</div>
			</div>
			<div class="modal fade" id="hannahModal" tabindex="-1" aria-hidden="true">
				<div class="modal-dialog">
				  <div class="modal-content">
					<div class="modal-header">
					  <h1 class="modal-title fs-5" id="exampleModalLabel">About Hannah</h1>
					  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<p>
							Hannah loves to spend time on her outdoor porch. She can easily access this space, however, whether exiting or coming back inside it’s difficult to the close the door behind her. Hannah uses a wheelchair. How can we empower her to close doors with ease?
						</p>
						<video width="100%" controls preload="metadata" poster="/video-coming-soon-thumbnail.jpg"></video>
						<div class="d-grid gap-2 mt-3">
							<a class="btn btn-primary btn-lg" href="https://forms.gle/CFPward668WTzHUZ6" target="_blank">Register</a>
						</div>
					</div>
				  </div>
				</div>
			</div>
			<!-- End Hannah -->
			<!-- Tim S. -->
			<div class="col-sm-12 col-md-3 mb-3">
				<div class="card px-0">
					<a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#timsModal">
						<img src="/participants/tims-thumbnail.jpg" alt="Participant Thumbnail" class="card-img-top">
						<div class="card-body">
							<h5 class="card-title font-homestead">Team Tim S.</h5>
						</div>
					</a>
				</div>
			</div>
			<div class="modal fade" id="timsModal" tabindex="-1" aria-hidden="true">
				<div class="modal-dialog">
				  <div class="modal-content">
					<div class="modal-header">
					  <h1 class="modal-title fs-5" id="exampleModalLabel">About Tim S.</h1>
					  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<p>
							Tim S. is a class of 2007 graduate of St. Edward High School. He’s an outstanding artist who would love to find a solution to help him sketch and paint with ease. Tim uses a wheelchair and does not have arms; his hands extend directly from his shoulders. How can we empower him to express his creativity visually?
						</p>
						<video width="100%" controls preload="metadata" poster="/video-coming-soon-thumbnail.jpg"></video>
						<div class="d-grid gap-2 mt-3">
							<a class="btn btn-primary btn-lg" href="https://forms.gle/CFPward668WTzHUZ6" target="_blank">Register</a>
						</div>
					</div>
				  </div>
				</div>
			</div>
			<!-- End Tim S. -->
			<!-- Donna -->
			<div class="col-sm-12 col-md-3 mb-3">
				<div class="card px-0">
					<a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#donnaModal">
						<img src="/participants/donna-thumbnail.jpg" alt="Participant Thumbnail" class="card-img-top">
						<div class="card-body">
							<h5 class="card-title font-homestead">Team Donna</h5>
						</div>
					</a>
				</div>
			</div>
			<div class="modal fade" id="donnaModal" tabindex="-1" aria-hidden="true">
				<div class="modal-dialog">
				  <div class="modal-content">
					<div class="modal-header">
					  <h1 class="modal-title fs-5" id="exampleModalLabel">About Donna</h1>
					  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<p>
							Donna is an energetic woman on the go! Donna uses a power wheelchair to navigate the world, however, she also suffers from significant vision loss. How can we empower her to travel independently, avoiding obstacles and collisions?
						</p>
						<video width="100%" controls preload="metadata" poster="/video-coming-soon-thumbnail.jpg"></video>
						<div class="d-grid gap-2 mt-3">
							<a class="btn btn-primary btn-lg" href="https://forms.gle/CFPward668WTzHUZ6" target="_blank">Register</a>
						</div>
					</div>
				  </div>
				</div>
			</div>
			<!-- End Donna -->
			<!-- Tim C. -->
			<div class="col-sm-12 col-md-3 mb-3">
				<div class="card px-0">
					<a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#timcModal">
						<img src="/participants/timc-thumbnail.jpg" alt="Participant Thumbnail" class="card-img-top">
						<div class="card-body">
							<h5 class="card-title font-homestead">Team Tim C.</h5>
						</div>
					</a>
				</div>
			</div>
			<div class="modal fade" id="timcModal" tabindex="-1" aria-hidden="true">
				<div class="modal-dialog">
				  <div class="modal-content">
					<div class="modal-header">
					  <h1 class="modal-title fs-5" id="exampleModalLabel">About Tim C.</h1>
					  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<p>
							Tim C. loves to play video games with his buddies. He typically plays with a friend who holds the controller because he has difficulty with his grasp. Tim has spastic cerebral palsy and uses a wheelchair. How can we empower him to game independently?
						</p>
						<video width="100%" controls preload="metadata" poster="/video-coming-soon-thumbnail.jpg"></video>
						<div class="d-grid gap-2 mt-3">
							<a class="btn btn-primary btn-lg" href="https://forms.gle/CFPward668WTzHUZ6" target="_blank">Register</a>
						</div>
					</div>
				  </div>
				</div>
			</div>
			<!-- End Tim C. -->
			<!-- Sean -->
			<div class="col-sm-12 col-md-3 mb-3">
				<div class="card px-0">
					<a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#seanModal">
						<img src="/participants/sean-thumbnail.jpg" alt="Participant Thumbnail" class="card-img-top">
						<div class="card-body">
							<h5 class="card-title font-homestead">Team Sean</h5>
						</div>
					</a>
				</div>
			</div>
			<div class="modal fade" id="seanModal" tabindex="-1" aria-hidden="true">
				<div class="modal-dialog">
				  <div class="modal-content">
					<div class="modal-header">
					  <h1 class="modal-title fs-5" id="exampleModalLabel">About Sean</h1>
					  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<p>
							Sean has a lot say—but with limited verbal abilities he uses assistive technology to get his point across. He has multiple devices to aid in communication and other tasks. These devices can be physically cumbersome at times. Sean has spastic cerebral palsy and uses a wheelchair. How can we empower Sean with consolidated tech and a more cohesive system?
						</p>
						<video width="100%" controls preload="metadata" poster="/video-coming-soon-thumbnail.jpg"></video>
						<div class="d-grid gap-2 mt-3">
							<a class="btn btn-primary btn-lg" href="https://forms.gle/CFPward668WTzHUZ6" target="_blank">Register</a>
						</div>
					</div>
				  </div>
				</div>
			</div>
			<!-- End Sean -->
		</div>
		<hr>
	</div>
	<!-- End Teams Section -->

	<!-- Partners Section -->
	<div class="container mb-4 text-center">
		<div class="row">
			<div class="col-sm-12 col-md-6 col-lg-3 align-self-center">
				<a href="https://sehs.net" target="_blank">
					<img class="img-fluid" src="/partner-logos/crest-logo.png" alt="St. Ed's Crest">
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-3 align-self-center">
				<a href="https://www.youthchallengesports.com/" target="_blank">
					<img class="img-fluid" src="/partner-logos/yc-logo.png" alt="Youth Challenge Logo">
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-3 align-self-center">
				<a href="https://engineering.csuohio.edu/nrt/hms-graduate-program" target="_blank">
					<img class="img-fluid" src="/partner-logos/csu-logo.png" alt="Youth Challenge Logo">
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-3 align-self-center">
				<a href="https://www.balanceinc.com/" target="_blank">
					<img class="img-fluid" src="/partner-logos/balance-innovation-logo.png" alt="Balance Innovation Logo">
				</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-3 align-self-center">
				<a href="https://leimkuehlerinc.com/" target="_blank">
					<img class="img-fluid" src="/partner-logos/leimkuehler-logo.png" alt="Leimkuehler Logo">
				</a>
			</div>
		</div>
		<hr>
	</div>
	<!-- End Partners Section -->

	<!-- Contact Section -->
	<div id="contact-us" class="container mb-4">
		<h2 id="teams" class="font-homestead text-center mb-3">Contact Us</h2>
		<p class="fs-5">Anthony Mortimer - Event Coordinator <a href="mailto:amortimer@sehs.net">amortimer@sehs.net</a></p>
		<p class="fs-5">KC McKenna - Sponsorships <a href="mailto:kcmckenna@sehs.net">kcmckenna@sehs.net</a></p>
		<p class="fs-5">Vanessa Butler - Media Relations <a href="mailto:vbutler@sehs.net">vbutler@sehs.net</a></p>
	</div>
	<!-- End Contact Section -->
</Layout>

<script>
	let modals = document.querySelectorAll(".modal")

	modals.forEach((modal) => {
		modal.addEventListener('hidden.bs.modal', event => {
			modal.querySelector<HTMLVideoElement>("video").pause()
		})
	})
</script>
