---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
	<!-- Top Banner Section -->
	<div class="container-fluid mb-4 p-0">
		<div class="p-5 bg-body-secondary">
			<h1 class="display-4 font-homestead text-center">Empower<span class="text-secondary">Ed</span>: St. Edward High School Maker Challenge</h1>
			<h2 class="font-homestead text-center mb-2">In partnership with Youth Challenge</h2>
			<div class="text-center">
				<img class="img-fluid" src="/eds-logo-lg.webp" alt="St. Ed's Logo">
			</div>
			<p class="fs-4">Registration is now open for the 2024 Maker Challenge!</p>
			<a href="#teams" class="btn btn-primary btn-lg my-1">Meet the Teams</a>
			<a href="https://docs.google.com/forms/d/e/1FAIpQLSf5dvpl1qR4TaAooaDNjcqb4PPfNJy3qwjLpAdMGKi7ppGtHw/viewform?usp=sf_link" target="_blank" class="btn btn-primary btn-lg my-1">Register</a>
		</div>
	</div>
	<!-- End Top Banner Section -->

	<!-- About Section -->
	<div class="container mb-4">
		<div class="row">
			<h2 class="font-homestead text-center">About</h2>
			<p class="fs-5">
				The St. Edward High School Maker Challenge is a fantastic opportunity to leverage your skills – mechanical,
				biometric, technology, software development, practical solutions-mindset – to build solutions for the
				specific needs of physically-challenged, independent-living young adults. These young adults were all
				graduates of the Youth Challenge program. The goal for each individual is to help them perform a regular
				household task more efficiently and move the needle to enhance his or her daily life.
			</p>
		</div>
		<div class="row">
			<div class="col">
				<h4 class="font-homestead">When</h4>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Event</th>
							<th>Date</th>
							<th>Time</th>
							<th>Location</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Kickoff</td>
							<td>Wednesday March 13, 2024</td>
							<td>5:00PM</td>
							<td>St. Edward High School</td>
						</tr>
						<tr>
							<td>Make-A-Thon - Day 1</td>
							<td>Friday April 19, 2024</td>
							<td>5:00PM - 10:00PM</td>
							<td>St. Edward High School</td>
						</tr>
						<tr>
							<td>Make-A-Thon - Day 2</td>
							<td>Saturday April 20, 2024</td>
							<td>9:00AM - 10:00PM</td>
							<td>St. Edward High School</td>
						</tr>
						<tr>
							<td>Closing Ceremony</td>
							<td>Sunday April 21, 2024</td>
							<td>5:00 PM</td>
							<td>Youth Challenge</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h4 class="font-homestead mb-3">Team Members We Are Seeking</h4>
				<ul>
					<li>Solution-oriented</li>
					<li>Practical product-solution experience around mechanical applications</li>
					<li>Engineers, technologists, medical product designers, entrepeneurs, software developers</li>
					<li>Teams of six to eight makers</li>
					<li>Each team will be accompanied by at least one St. Edward High School engineering or technology student</li>
				</ul>
			</div>
		</div>

		<hr>
	</div>
	<!-- End About Section -->

	<!-- Teams Section -->
	<div class="container mb-4">
		<h2 id="teams" class="font-homestead text-center mb-3">2024 Teams</h2>

		<div class="row">

			<!-- Breanna -->
			<div class="col-sm-12 col-md-3 mb-3">
				<div class="card px-0">
					<a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#breannaModal">
						<img src="/participants/breanna-thumbnail.png" alt="coming soon thumbnail" class="card-img-top">
						<div class="card-body">
							<h5 class="card-title font-homestead">Team Breanna</h5>
						</div>
					</a>
				</div>
			</div>
			<div class="modal fade" id="breannaModal" tabindex="-1" aria-hidden="true">
				<div class="modal-dialog">
				  <div class="modal-content">
					<div class="modal-header">
					  <h1 class="modal-title fs-5" id="exampleModalLabel">About Breanna</h1>
					  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur magni doloremque iusto beatae libero! Itaque explicabo consequatur, expedita est animi molestiae mollitia inventore? Dicta blanditiis temporibus similique numquam id omnis?</p>
						<video width="100%" src="/participants/breanna-video.mp4" controls preload="auto"></video>
						<div class="d-grid gap-2 mt-3">
							<a class="btn btn-primary btn-lg" href="https://docs.google.com/forms/d/e/1FAIpQLSf5dvpl1qR4TaAooaDNjcqb4PPfNJy3qwjLpAdMGKi7ppGtHw/viewform?usp=sf_link" target="_blank">Participate with Team Breanna</a>
						</div>
					</div>
				  </div>
				</div>
			</div>
			<!-- End Breanna -->
			<div class="col-sm-12 col-md-3 mb-3">
				<div class="card px-0">
					<a href="#" class="text-decoration-none">
						<img src="coming-soon-thumbnail.png" alt="coming soon thumbnail" class="card-img-top">
						<div class="card-body">
							<h5 class="card-title font-homestead">Team Hannah</h5>
						</div>
					</a>
				</div>
			</div>
			<div class="col-sm-12 col-md-3 mb-3">
				<div class="card px-0">
					<a href="#" class="text-decoration-none">
						<img src="coming-soon-thumbnail.png" alt="coming soon thumbnail" class="card-img-top">
						<div class="card-body">
							<h5 class="card-title font-homestead">Team Tim S.</h5>
						</div>
					</a>
				</div>
			</div>
			<div class="col-sm-12 col-md-3 mb-3">
				<div class="card px-0">
					<a href="#" class="text-decoration-none">
						<img src="coming-soon-thumbnail.png" alt="coming soon thumbnail" class="card-img-top">
						<div class="card-body">
							<h5 class="card-title font-homestead">Team Donna</h5>
						</div>
					</a>
				</div>
			</div>
			<div class="col-sm-12 col-md-3 mb-3">
				<div class="card px-0">
					<a href="#" class="text-decoration-none">
						<img src="coming-soon-thumbnail.png" alt="coming soon thumbnail" class="card-img-top">
						<div class="card-body">
							<h5 class="card-title font-homestead">Team Tim C.</h5>
						</div>
					</a>
				</div>
			</div>
			<!-- Team Sara -->
			<div class="col-sm-12 col-md-3 mb-3">
				<div class="card px-0">
					<a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#saraModal">
						<img src="/participants/sara-thumbnail.png" alt="coming soon thumbnail" class="card-img-top">
						<div class="card-body">
							<h5 class="card-title font-homestead">Team Sara</h5>
						</div>
					</a>
				</div>
			</div>
			<div class="modal fade" id="saraModal" tabindex="-1" aria-hidden="true">
				<div class="modal-dialog">
				  <div class="modal-content">
					<div class="modal-header">
					  <h1 class="modal-title fs-5" id="exampleModalLabel">About Sara</h1>
					  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur magni doloremque iusto beatae libero! Itaque explicabo consequatur, expedita est animi molestiae mollitia inventore? Dicta blanditiis temporibus similique numquam id omnis?</p>
						<video width="100%" src="/participants/sara-video.mp4" controls preload="auto"></video>
						<div class="d-grid gap-2 mt-3">
							<a class="btn btn-primary btn-lg" href="https://docs.google.com/forms/d/e/1FAIpQLSf5dvpl1qR4TaAooaDNjcqb4PPfNJy3qwjLpAdMGKi7ppGtHw/viewform?usp=sf_link" target="_blank">Participate with Team Sara</a>
						</div>
					</div>
				  </div>
				</div>
			</div>
			<!-- End Team Sara -->
			<div class="col-sm-12 col-md-3 mb-3">
				<div class="card px-0">
					<a href="#" class="text-decoration-none">
						<img src="coming-soon-thumbnail.png" alt="coming soon thumbnail" class="card-img-top">
						<div class="card-body">
							<h5 class="card-title font-homestead">Team Sean</h5>
						</div>
					</a>
				</div>
			</div>

		</div>

		<hr>
	</div>
	<!-- End Teams Section -->

	<!-- Partners Section -->
	<div class="container mb-4 text-center">
		<div class="row">
			<h2 class="font-homestead text-center mb-3">Partners and Sponsors</h2>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-6 col-lg-3 align-self-center">
				<img class="img-fluid" src="/partner-logos/yc-logo.png" alt="Youth Challenge Logo">
			</div>
			<div class="col-sm-12 col-md-6 col-lg-3 align-self-center">
				<img class="img-fluid" src="/partner-logos/csu-logo.webp" alt="CSU College of Engineering Logo">
			</div>
		</div>
	</div>
	<!-- End Partners Section -->
</Layout>

<script>
	let modals = document.querySelectorAll(".modal")

	modals.forEach((modal) => {
		modal.addEventListener('hidden.bs.modal', event => {
			modal.querySelector<HTMLVideoElement>("video").pause()
		})
	})
</script>
