---
interface Props {
	title: string;
}

const { title = "" } = Astro.props;

import "../styles/site.css"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Empowered: St. Edward High School Maker Challenge Presented in Partnership with Youth Challenge" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>St. Edward High School Maker Challenge</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-black">
			<div class="container-fluid">
				<a href="/" class="navbar-brand">
					<img
						src="/eds-logo-128px.png"
						width="40px"
						class="d-inline-block"
						alt="eds logo"
					/>
					<span class="font-homestead">&nbsp;Maker Challenge</span>
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav font-homestead">
					  <li class="nav-item">
						<a class="nav-link" aria-current="page" href="#teams">Teams</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" aria-current="page" href="https://docs.google.com/forms/d/e/1FAIpQLSf5dvpl1qR4TaAooaDNjcqb4PPfNJy3qwjLpAdMGKi7ppGtHw/viewform?usp=sf_link" target="_blank">Register</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" aria-current="page" href="#contact-us">Contact Us</a>
					  </li>
					</ul>
					<ul class="navbar-nav font-homestead ms-auto">
						<li class="nav-item">
							<a href="https://sehs.net" target="_blank" class="nav-link active">St. Edward Homepage</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<slot />
		<footer class="py-5 bg-black">
			<p class="text-center text-light">2024 St. Edward High School</p>
		</footer>
		<script>
			import "bootstrap/dist/js/bootstrap.esm";
		</script>
	</body>
</html>
